@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
} 

.d1 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}

.text h1 {
    font-size: 35px;
    line-height: 2;
    font-weight: lighter;
}

.text p {
    font-size: 25px;
    line-height: 1.2;
}

.text {
    padding-bottom: 100px;
    padding-right: 350px;
}

.text button {
    margin-top: 10px;
    padding: 12px 28px;
    border-radius: 25px;
    background-color: rgb(83, 178, 251);
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.d1 img {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 550px;
}

.d2 {
    background-image: url(../Assets/Images/bg.jpg);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 200px 0;
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.d2 h1 {
    font-size: 45px;
    font-weight: 100;
}

.d2 h3 {
    font-weight: 900;
}

.d2 p {
    font-size: larger;
}

.d3 {
    width: 70%;
    margin: 0 auto;
}

.d3 {
    text-align: center;
    padding: 100px 0px;
}

.d3 h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 2.5;
    margin-bottom: -15px;
}

.d3 p {
    line-height: 1.6;
    font-size: larger;
}

.d3 button {
    margin-top: 10px;
    padding: 12px 28px;
    border-radius: 25px;
    background-color: rgb(83, 178, 251);
    border: 1px solid white;
    color: white;
}

.d4 {
    background-image: url(../Assets/Images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 600px;
    padding-top: 55px;
    color: white;
}

.text2 h1 {
    font-weight: lighter;
    font-size: 40px;
    line-height: 2;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 75px 0px;
    font-size: 20px;
}

.box1 {
    border: 2px dashed white;
    width: 30%;
    padding: 80px;
    margin-right: 30px;
}

.box2 {
    border: 2px dashed white;
    width: 30%;
    padding: 80px;
    margin-left: 30px;
}
.d4 p{
    font-size: 20px;
}

span{
    text-decoration: underline;
}

.pers{
    color: #25b9be;
}